* {
  outline: none;
  box-sizing: border-box;
}

input {
  padding: 0.25rem 0.5rem;
}

#app {
  width: 100%;
  padding: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.flex-col {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.center {
  justify-content: center;
}

.padding {
  padding: 1rem;
}
